.menubar {
  position: absolute;
  top: var(--Sizes-size1);
  right: var(--Sizes-size1_8);
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.menu_top {
  background-color: #fffdef;
  width: var(--Sizes-size5);
  height: var(--Sizes-size4_8);
  border: var(--Sizes-size02) solid var(--primary-color);
  border-bottom: var(--Sizes-size0);
  display: flex;
  border-radius: 50% 50% 0% 0%;
  justify-content: center;
  align-items: center;
}

.menu_bottom {
  background-color: #fffdef;
  width: var(--Sizes-size8_1);
  height: var(--Sizes-size17);
  border: var(--Sizes-size02) solid var(--primary-color);
  border-radius: var(--Sizes-size03) var(--Sizes-size0) var(--Sizes-size03)
    var(--Sizes-size03);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cafe-menu_bottom {
  background-color: #fffdef;
  width: var(--Sizes-size8_1);
  height: var(--Sizes-size17);
  border: var(--Sizes-size02) solid var(--primary-color);
  border-radius: var(--Sizes-size03) var(--Sizes-size0) var(--Sizes-size03)
    var(--Sizes-size03);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu_bottom_left {
  display: none;
}

.menu_bottom_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--Sizes-size1);
}

.menu_column {
  width: var(--Sizes-size6_5);
  height: var(--Sizes-size3);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: var(--Sizes-size09);
  font-size: var(--Sizes-size09);
  cursor: pointer;
}

.menubar_line {
  height: var(--Sizes-size02);
  width: var(--Sizes-size5);
  background-color: var(--primary-color);
  position: relative;
  z-index: 0;
}

.menubar_menuline {
  left: var(--Sizes-size1_3);
  position: absolute;
  bottom: var(--Sizes-size03);
}

a {
  display: flex;
  justify-content: center;
}

.menubar_menuline1 {
  width: var(--Sizes-size2_5);
  height: var(--Sizes-size05);
  border-radius: var(--Sizes-size05);
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: var(--Sizes-size0) var(--Sizes-size02) var(--Sizes-size02)
    rgba(0, 0, 0, 0.25);
  transform: rotate(-60deg);
  z-index: 1;
  cursor: pointer;
}

.menubar_menuline2 {
  width: var(--Sizes-size2_5);
  height: var(--Sizes-size05);
  border-radius: var(--Sizes-size05);
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: var(--Sizes-size0) var(--Sizes-size02) var(--Sizes-size02)
    rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.menubar_menuline3 {
  width: var(--Sizes-size2_5);
  height: var(--Sizes-size05);
  border-radius: var(--Sizes-size05);
  position: absolute;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: var(--Sizes-size0) var(--Sizes-size02) var(--Sizes-size02)
    rgba(0, 0, 0, 0.25);
  transform: rotate(60deg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu_bottom_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Sizes-size1);
  }

  .menu_bottom_right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: var(--Sizes-size16);
  }
}
