:root {
  --primary-color: #99627a;
  --primary-font-color: #ffffff;
  --menubar-font-color: #ffffff;
  --background-color: #e7cbcb;
  --font-Color-white: #ffffff;
  --article-background-color: #ffffff;
  --calendar-background-color: #643843;
  --cafe-background-color: #643843;
  --current-food: #9df1df;
  --login-form-color: #1a1a1a;
  --login-stroke-color: rgb(40, 44, 52);
}
