.cafe_actions {
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* align-items: center; */
  padding-top: var(--Sizes-size1_5);
}

.signup_main {
  display: flex;
  justify-content: center;
}

.signup_box {
  width: 95%;
  height: 40rem;
  background-color: var(--login-form-color);
  border-radius: var(--Sizes-size5_1);
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.sign_school_name {
  font-size: var(--Sizes-size2);
  margin: var(--Sizes-size1) var(--Sizes-size1_3);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1em;
  text-align: center;
  margin-bottom: var(--Sizes-size2_5);
  margin-top: var(--Sizes-size2_5);
}

.school_name em {
  letter-spacing: 3px;
}

.signup_mainbox {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: space-between;
  gap: var(--Sizes-size3);
  align-items: center;
  flex-shrink: 0;
}

.signup_stroke {
  width: 40%;
  background-color: var(--login-stroke-color);
  border-radius: var(--Sizes-size5_1);
  margin-bottom: var(--Sizes-size3);
  height: 110vh;
}

.signup_box {
  height: 110vh;
}

.sign_schoolnum {
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: var(--Sizes-size05);
}

.signup_id_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100%;
  gap: var(--Sizes-size2);
  padding-bottom: 3em;
  flex: 1;
}

.signup_id_box input {
  background-color: var(--login-form-color);
  border: 1px solid #6a6767;
  height: 10%;
  border-radius: var(--Sizes-size05);
  color: white;
  font-size: var(--Sizes-size1);
  padding: 0px 20px;
}

.email_box {
  display: flex;
  height: 10%;
  justify-content: space-between;
  gap: 20px;
}

.email_box input {
  height: 100%;
  flex: 1 1;
}

.email_box div {
  cursor: pointer;
  height: 100%;
  background-color: #1c65b9;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.disable_input:read-only {
  background-color: var(--login-stroke-color);
  color: white;
  font-size: var(--Sizes-size1);
}

.sign_schoolnum input {
  height: 100%;
  width: 30%;
}

.signup_id_box input::placeholder {
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.signup_id_box input:-webkit-autofill,
.signup_id_box input:-webkit-autofill:hover,
.signup_id_box input:-webkit-autofill:focus,
.signup_id_box input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--login-form-color) inset;
  box-shadow: 0 0 0px 1000px var(--login-form-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 
.signup_id_box input:autofill,
.signup_id_box input:autofill:hover,
.signup_id_box input:autofill:focus,
.signup_id_box input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

.id_check {
  display: flex;
  align-items: center;
  font-size: 5em;
}

.idsave {
  color: white;
  font-size: 0.2em;
  margin-left: 1em;
  font-weight: 600;
}

#idckb {
  appearance: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background: var(--login-form-color);
  padding: 0px 0px;
}

#idckb:checked {
  background-color: #4197fc;
}

.login_button {
  width: 100%;
  height: 10%;
  background-color: #4197fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1em;
}

.login_button:active {
  background-color: #1c65b9;
}

.more {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  color: #d4ddfc;
}

.lost {
  cursor: pointer;
}

.signup {
  cursor: pointer;
}

/*미디어 쿼리*/

@media screen and (max-width: 1196px) {
  .id_mainbox {
    flex-direction: column;
    gap: var(--Sizes-size05);
  }

  .login_imgsubbox {
    justify-content: center;
  }

  .id_box {
    width: 100%;
    height: 100%;
    padding-bottom: 0em;
  }

  .id_anotherbox {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
  }

  .signup_stroke {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .signup_stroke {
    width: 100%;
  }
}
