.space {
  height: var(--Sizes-size1_5);
  width: var(--Sizes-size2_5);
}

.mypage_mainbox {
  display: grid;
  gap: var(--Sizes-size2);
}

.my_arrowbox {
  width: var(--Sizes-size5);
  height: var(--Sizes-size5);
  display: flex;
  align-items: center;
}

.my_topbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--Sizes-size10);
  padding-top: var(--Sizes-size2);
}

.my_maintxt {
  background-color: #286246;
  width: 50%;
  height: var(--Sizes-size7);
  border-radius: var(--Sizes-size1_5);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.mypage_bars {
  font-size: 3rem;
  /* padding-right: 1.5rem; */
}

.my_arrow {
  position: relative;
}

.my_prfilecover {
  width: 100%;
  height: var(--Sizes-size13);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_profilebox {
  background-color: #fdfdfd;
  width: 85%;
  height: var(--Sizes-size10);
  border-radius: var(--Sizes-size1_5);
  display: flex;
  padding: 0px 2rem;
  align-items: center;
  justify-content: space-between;
  border: solid #c8c8c8;
}

.my_profileimg {
  height: 80%;
  width: 10%;
  border-radius: 50%;
  border: solid #c8c8c8;
}

.my_profileimg > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.my_userinfo {
  padding-left: 2.5rem;
  height: 100%;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.my_userinfo_top {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.my_userinfo_top1 {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.my_userinfo_top2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.my_username {
  font-size: var(--Sizes-size2_5);
}

.my_usermail {
  font-size: 1.25rem;
}

.my_rightbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.25rem;
}

.my_modify {
  font-size: var(--Sizes-size2_5);
}

.my_goto_github > img {
  width: var(--Sizes-size2_5);
  height: var(--Sizes-size2_5);
  border-radius: 50%;
}

.my_gotomenu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.my_gotobox {
  width: 85%;
  height: 12.5rem;
  background-color: #fdfdfd;
  border-radius: 1.25rem;
  border: solid #c8c8c8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--Sizes-size2);
  justify-items: center;
  align-items: center;
  padding: 0px 2rem;
}

.gotobox_subbox {
  background-color: #286246;
  width: 70%;
  height: var(--Sizes-size9);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Sizes-size06);
  color: white;
  font-weight: bold;
  font-size: var(--Sizes-size1_5);
  padding: var(--Sizes-size06);
}

.gotobox_icon > img {
  height: 90px;
}

.my_casesubbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: var(--Sizes-size10);
  gap: 6.25rem;
}

.my_footerbox {
  width: 35rem;
  height: 8rem;
  background-color: #286246;
  border-radius: 1.25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--Sizes-size3);
  font-weight: bold;
  cursor: pointer;
}

.gotobox_write {
  display: none;
}

.gotobox_icon_write > img {
  width: 0px;
}

@media screen and (max-width: 1280px) {
  .my_gotobox {
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    width: 50rem;
    margin-bottom: 5rem;
  }

  .my_profilebox {
    width: 50rem;
  }

  .gotobox_write {
    display: flex;
  }

  .gotobox_icon_write > img {
    width: 90px;
    height: 90px;
  }

  .my_profileimg {
    width: 30%;
  }

  .my_footerbox {
    width: 30%;
  }

  .gotobox_icon_write > i {
    font-size: 5.625rem;
    color: black;
  }

  .my_casesubbox {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .my_topbox {
    gap: 0px;
    width: 100%;
  }

  .arrow {
    left: 0px;
  }

  .my_maintxt {
    font-size: xx-large;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    letter-spacing: 0;
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }

  .my_gotobox {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0);
    border: solid 0;
    margin-bottom: 0rem;
  }

  .my_profilebox {
    width: 100%;
  }

  .gotobox_write {
    display: flex;
  }

  .gotobox_icon_write > img {
    width: 90px;
    height: 90px;
  }

  .my_profileimg {
    width: 30%;
    height: 80%;
  }

  .my_rightbox > div {
    display: none;
  }

  .my_userinfo {
    width: 30rem;
    font-size: 1rem;
    padding-left: 0rem;
  }

  .my_userinfo > div {
    font-size: medium;
    font-weight: bold;
  }

  .my_footerbox {
    width: 40%;
    font-size: x-small;
  }

  .my_gotobox {
    width: 100%;
  }

  .my_casesubbox {
    display: none;
  }

  .my_arrowbox {
    display: none;
  }

  .bars {
    display: none;
  }

  .my_userinfo_top {
    justify-content: space-around;
  }

  .my_userinfo_top2 {
    display: none;
  }

  .my_userintro {
    display: none;
  }
}
