@import "../../../../constants/variables.css";
@import "../../../../constants/sizes.css";

body {
  height: 100vh;
  font-size: 100%;
}

.com_nav {
  border-bottom: 1px solid #000;
  height: var(--Sizes-size7);
  display: flex;
  align-items: center;
}

.com_arr {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com_arrow {
  width: var(--Sizes-size6_3);
  height: var(--Sizes-size6_3);
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.8;
  cursor: pointer;
}

.title {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
}
