@import "../../../../constants/variables.css";
@import "../../../../constants/sizes.css";

body {
  height: 100vh;
}

.writing_header {
  height: var(--Sizes-size4);
}

.writing_inner {
  align-items: center;
  height: 100%;
}

.writing_actions {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: var(--Sizes-size1_5);
}

.writing_menu {
  padding-right: var(--Sizes-size3_2);
  padding-top: var(--Sizes-size1);
}

.writing_main {
  background-color: blue;
  width: 100%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writing_base {
  background-color: blueviolet;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Sizes-size2);
}

.writing_title {
  background-color: aqua;
  width: 100%;
  height: 10%;
}

.writing_tag {
  background-color: aqua;
  width: 100%;
  height: 10%;
}

.writing_par {
  background-color: aqua;
  width: 100%;
  height: 80%;
}
