body {
  height: 100vh;
  margin: 0;
}

.setting_bar {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.1rem solid black;
}

.setting_head_txt {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.setting_sub_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 5rem;
  align-items: center;
}

.mypage_bars {
  font-size: 3rem;
}

main {
  box-sizing: border-box;
  height: 100%;
}

.setting_main {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
}

.setting_main_left {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  border-right: 0.1rem solid black;
}

.setting_logout {
  background-color: red;
  margin: 2rem 1rem;
  height: 5rem;
  border-radius: var(--Sizes-size1_3);
}
