
.gotobox_subbox {
  background-color: #286246;
  width: 70%;
  height: var(--Sizes-size9);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Sizes-size06);
  color: white;
  font-weight: bold;
  font-size: var(--Sizes-size1_5);
  padding: var(--Sizes-size06);
}

.gotobox_icon > img {
  height: 90px;
}


.gotobox_write {
  display: none!important;
}


@media screen and (max-width: 1280px) {

  .gotobox_write {
    display: flex;
  }

  .gotobox_icon_write > img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  .gotobox_write {
    display: flex;
  }

  .gotobox_icon_write > img {
    width: 90px;
    height: 90px;
  }

  .my_profileimg {
    width: 30%;
  }

  .my_rightbox > div {
    display: none;
  }

  .my_userinfo {
    width: 50%;
    font-size: 1rem;
    padding-left: 0rem;
  }

  .my_userinfo > div {
    font-size: large;
    font-weight: bold;
  }

  .my_footerbox {
    width: 40%;
    font-size: x-small;
  }

  .my_gotobox {
    width: 100%;
  }
}
